@use "../variables" as *;
@use "../mixins" as *;

.destination {
    width: 100%;

    .content {
        width: 100%;

        .top-img {
            width: 100%;
            aspect-ratio: 1282 / 1242;
            background: url('../../assets/images/destination_top_img.jpg') no-repeat center / cover;
        }

        .main {
            width: 100%;
            aspect-ratio: 1282 / 1461;
            background: url('../../assets/images/lights.png') no-repeat 100% -2% / 50%, url('../../assets/images/base_bg.png') repeat center / contain;

            .box-1 {
                width: 100%;
                display: flex;

                .slider-box {
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-direction: column;
                    padding-left: 5%;

                    .title {
                        font-size: 51px;
                        font-family: $font-AstonScriptBold;
                        margin: 25% 0;
                        position: relative;
                        right: -20px;
                    }

                    .slider {
                        width: 407px;

                        .swiper {
                            width: 100%;
                            margin: 2% auto;
                        }

                        .main-swiper {
                            aspect-ratio: 1 / 1.5;
                            border-radius: 10px;
                            overflow: hidden;

                            .swiper-button-next,
                            .swiper-button-prev {
                                color: $secondary-color;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .thumb-swiper {
                            box-sizing: border-box;
                            padding: 0;

                            .swiper-slide {
                                // width: 25%;
                                aspect-ratio: 1;
                                opacity: 0.7;
                                cursor: pointer;
                                transition: opacity 0.3s;
                                border-radius: 10px;
                            }

                            .swiper-slide-thumb-active {
                                opacity: 1;
                                border-radius: 10px;
                                border: 1px solid $secondary-color;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 10px;
                            }
                        }
                    }

                    .slider .main-swiper .swiper-button-next,
                    .slider .main-swiper .swiper-button-prev {
                        color: #fffffe;
                    }

                    .slider .main-swiper .swiper-button-next:after,
                    .slider .main-swiper .swiper-button-prev:after {
                        font-size: 60px;
                        font-weight: 900;
                    }
                }

                .faq-box {
                    width: 50%;
                    color: $text-color;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    flex-direction: column;
                    padding-right: 5%;

                    .title {
                        font-size: 32px;
                        // font-family: $font-PinyonScript;
                        margin-top: 10%;
                    }

                    .faq-container {
                        // font-family: $font-gotham;
                        max-width: 480px;
                        width: 100%;
                        margin-top: 94%;
                        overflow: auto;

                        .faq-item {
                            // border: 2px solid $text-color;
                            border-radius: 8px;
                            margin-bottom: 8%;
                            overflow: hidden;

                            .faq-header {
                                width: 100%;
                                background: transparent;
                                font-family: inherit;
                                color: $text-color;
                                padding: 2% 0% 1%;
                                margin-bottom: 2%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 20px;
                                font-weight: 600;
                                cursor: pointer;
                                border: none;
                                text-transform: uppercase;
                                border-bottom: 2px solid $text-color;

                                .icon {
                                    font-size: 26px;
                                    font-weight: 600;
                                    line-height: 1;
                                }
                            }

                            .faq-content {
                                color: $text-color;
                                height: 0;
                                overflow: hidden;

                                p {
                                    text-align: justify;
                                    padding: 0 0 3%;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .box-2 {
                padding: 0 8%;

                hr {
                    width: 100%;
                    margin: 5% 0 3%;
                }

                .subtext {
                    font-size: 20px;
                    margin-bottom: 4%;

                    span {
                        font-size: 22px;
                        font-family: $font-AstonScriptBold;
                    }
                }

                .divider {
                    img {
                        max-width: 88px;
                    }
                }
            }

            @media (max-width: 1282px) {
                .box-1 {
                    .slider-box {
                        .title {
                            font-size: calc((51 / 1282) * 100vw);
                        }

                        .slider {
                            width: calc((407 / 1282) * 100vw);
                        }
                    }

                    .faq-box {
                        .faq-container {
                            max-width: calc((480 / 1282) * 100vw);

                            .faq-item {
                                .faq-header {
                                    font-size: calc((20 / 1282) * 100vw);

                                    .icon {
                                        font-size: calc((26 / 1282) * 100vw);
                                    }
                                }

                                .faq-content p {
                                    font-size: calc((20 / 1282) * 100vw);
                                }
                            }
                        }

                    }
                }

                .box-2 {
                    .subtext {
                        font-size: calc((20 / 1282) * 100vw);

                        span {
                            font-size: calc((22 / 1282) * 100vw);
                        }
                    }

                    .divider img {
                        max-width: calc((88 / 1282) * 100vw);
                    }
                }
            }

            @media (max-width: 600px) {

                aspect-ratio: 600 / 1850;

                .box-1 {
                    flex-direction: column;

                    .slider-box {
                        width: 100%;
                        padding-left: 0;

                        .title {
                            font-size: calc((26 / 600) * 100vw);
                            margin: 15% 0;
                            margin-right: auto;
                            padding-left: 10%;

                        }

                        .slider {
                            width: calc((407 / 600) * 100vw);
                        }
                    }

                    .faq-box {
                        width: 100%;
                        padding-right: 0;
                        margin-top: 5%;
                        overflow: scroll;

                        .faq-container {
                            max-width: calc((515 / 600) * 100vw);
                            margin-top: 10%;

                            .faq-item {
                                .faq-header {
                                    font-size: calc((21/ 600) * 100vw);

                                    .icon {
                                        font-size: calc((22 / 600) * 100vw);
                                    }
                                }

                                .faq-content p {
                                    font-size: calc((21 / 600) * 100vw);
                                }
                            }
                        }

                    }
                }

                .box-2 {
                    .subtext {
                        font-size: calc((14 / 600) * 100vw);

                        span {
                            font-size: calc((16 / 600) * 100vw);
                        }
                    }

                    .divider img {
                        max-width: calc((44 / 600) * 100vw);
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
}