@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;

    .content {
        aspect-ratio: 1282 / 1072;
        width: 100%;
        background: url('../../assets/images/hero_bg.png') no-repeat bottom / contain,
            url('../../assets/images/base_bg.png') no-repeat center / cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;

        img.text-img-01 {
            max-width: 847px;
            margin-top: 20%;
        }

        @media (max-width: 1282px) {
            img.text-img-01 {
                max-width: calc((847 / 1282) * 100vw);
            }
        }

        @media (max-width: 600px) {
            aspect-ratio: 600 / 950;
            background: url('../../assets/images/hero_bg.png') no-repeat bottom / 180%,
                url('../../assets/images/base_bg.png') no-repeat center / cover;

            img.text-img-01 {
                max-width: calc((452 / 600) * 100vw);
                margin-top: 45%;
            }
        }
    }

}