@use "../variables" as *;
@use "../mixins" as *;

.invite {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 1282 / 2008;
        background: url('../../assets/images/base_bg.png') repeat top / contain;
        padding: 15% 0 13%;
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        color: $text-color;

        .logo {
            position: absolute;
            top: -4.2%;

            img {
                max-width: 171px;
            }
        }

        .eyebrow {
            font-size: 15px;
            font-weight: 600;
            line-height: 1.5;
        }

        .eyebrow.sub {
            font-weight: 300;
            margin-bottom: 2%;
        }

        .names {
            font-family: $font-AstonScriptBold;
            font-size: 75px;
        }

        .event-label,
        .event-date,
        .event-time,
        .venue {
            font-size: 24px;
            font-weight: 300;
        }

        .event-time {
            margin-bottom: 4%;
        }

        .divider {
            margin-bottom: 2%;
        }

        .venue {
            text-transform: uppercase;
        }

        .description {
            font-size: 17px;
            margin: 0 13%;
        }

        .divider-02 {
            margin: 5% 0;
        }

        .section-gap {
            font-size: 23px;
            @include flex-center;
            flex-direction: column;

            .event-date {
                margin-bottom: 17%;
            }

            .venue {
                margin-bottom: 4%;
            }
        }

        .timeline-badge {
            max-width: 163px;
            width: 100%;
            position: relative;
            @include flex-center;
            margin: 10% 0 5%;

            label {
                font-size: 24px;
                display: block;
            }

            img {
                position: absolute;
                top: -30%;
                left: 0;
                width: 100%;
            }
        }

        .timeline {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .item {
                width: 100%;
                margin-top: 4%;

                .icon {
                    position: relative;
                    @include flex-center;
                    margin-bottom: 10px;

                    img {
                        max-width: 45px;
                    }
                }

                .time {
                    margin-bottom: 10px;
                    font-size: 19px;
                    font-weight: 600;
                }

                .name {
                    font-size: 19px;
                    line-height: 1.5;
                    font-weight: 600;

                    span {
                        font-style: italic;
                        font-weight: 300;
                    }
                }
            }
        }

        .maps-btn {
            font-size: 17px;
            font-family: $font-SVG-gothamBook;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #fff;
            background-color: $secondary-color;
            max-width: 278px;
            width: 100%;
            aspect-ratio: 278 / 26;
            @include flex-center;
            border-radius: 18px;
            text-transform: uppercase;
            // transition: all 0.3s ease;
            line-height: 1;
            margin: 1% 0;

            &:hover {
                background-color: $secondary-color;
            }
        }

        @media (max-width: 1282px) {
            .logo img {
                max-width: calc((171 / 1282) * 100vw);
            }

            .eyebrow {
                font-size: calc((15 / 1282) * 100vw);
            }

            .names {
                font-size: calc((75 / 1282) * 100vw);
            }

            .event-label,
            .event-date,
            .event-time,
            .venue {
                font-size: calc((24 / 1282) * 100vw);
            }

            .description {
                font-size: calc((17 / 1282) * 100vw);
            }

            .section-gap {
                font-size: calc((23 / 1282) * 100vw);
            }

            .timeline-badge {
                max-width: calc((163 / 1282) * 100vw);
            }

            .timeline .item {
                .icon img {
                    max-width: calc((45 / 1282) * 100vw);
                }

                .time,
                .name {
                    font-size: calc((19 / 1282) * 100vw);
                }
            }

            .maps-btn {
                font-size: calc((17 / 1282) * 100vw);
                max-width: calc((278 / 1282) * 100vw);
            }
        }
    }
}