@use "../variables" as *;
@use "../mixins" as *;

.note {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 1282 / 772;
        background: url('../../assets/images/note_bg.jpg') no-repeat center / cover;
        color: #faf7f2ff;
        @include flex-center;
        flex-direction: column;

        .logo {
            margin-bottom: 11%;

            img {
                max-width: 125px;
            }
        }

        .title {
            font-family: $font-AstonScriptBold;
            font-size: 38px;
            margin-bottom: 3%;
        }

        .subtext {
            font-size: 22px;
            padding: 0 12%;
            text-align: center;
        }

        @media (max-width: 1282px) {
            .logo img {
                max-width: calc((125 / 1282) * 100vw);
            }

            .title {
                font-size: calc((38 / 1282) * 100vw);
            }

            .subtext {
                font-size: calc((22 / 1282) * 100vw);
            }
        }

        @media (max-width: 600px) {
            aspect-ratio: 600 / 380;
            padding-bottom: 2%;
            justify-content: end;

            .logo {
                margin-bottom: 18%;

                img {
                    max-width: calc((85 / 600) * 100vw);
                }
            }

            .title {
                font-size: calc((34 / 600) * 100vw);
                margin-bottom: 2%;
            }

            .subtext {
                font-size: calc((20 / 600) * 100vw);
                padding: 0 5%;
            }
        }
    }
}