@use "../variables" as *;
@use "../mixins" as *;

.our-story {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 1282 / 857;
        color: $text-color;
        display: flex;
        justify-content: end;
        flex-direction: column;
        text-align: left;
        padding: 2% 5%;
        position: relative;
        z-index: 1;

        .title {
            font-family: $font-AstonScriptBold;
            font-size: 73px;
            line-height: 2;
            z-index: 10;
        }

        .text {
            font-size: 19.7px;
            max-width: 1180px;
            width: 100%;

            p {
                margin-bottom: 1%;
            }
        }

        .group-img {
            margin: auto;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            padding: 4%;
            display: flex;
            justify-content: space-between;

            img {
                max-width: 261px;
                position: relative;
                z-index: 5;

                &.couple-1 {
                    top: 10%;
                }

                &.couple-2 {
                    top: 27%;
                }

                &.couple-3 {
                    top: -5%;
                }

                &.couple-4 {
                    top: 15%;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(rgba(255, 248, 235, 0.7), rgba(255, 246, 229, 0.7)),
                url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/koa-thy/story_bg.jpg') no-repeat top / cover;
            // filter: blur(2px) brightness(0.5);
            // background-color: rgb(254, 253, 251);
            opacity: .9;
            transform: scale(1.1);
            z-index: 0;
        }

        @media (max-width: 1282px) {
            .title {
                font-size: calc((73 / 1282) * 100vw);
            }

            .text {
                font-size: calc((19.7 / 1282) * 100vw);
                max-width: calc((1180 / 1282) * 100vw);
            }

            .group-img img {
                max-width: calc((261 / 1282) * 100vw);
            }
        }

        @media (max-width: 600px) {
            aspect-ratio: 600 / 1400;
            padding: 9% 6%;

            .title {
                font-size: calc((44 / 600) * 100vw);
            }

            .text {
                font-size: calc((24 / 600) * 100vw);

                p {
                    margin-bottom: 2%;
                }
            }

            .group-img {
                flex-wrap: wrap;

                img {
                    max-width: calc((267 / 600) * 100vw);

                    &.couple-1 {
                        top: 4%;
                    }

                    &.couple-2 {
                        top: 21%;
                    }

                    &.couple-3 {
                        top: 9%;
                    }

                    &.couple-4 {
                        top: 26%;
                    }
                }
            }


            &::before {
                transform: scale(1);
            }
        }
    }
}