@use "../variables" as *;
@use "../mixins" as *;

.our-story {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 1282 / 857;
        background: url('../../assets/images/story_bg.jpg') no-repeat top / cover;
        color: #f2dfc2ff;
        position: relative;
        display: flex;
        justify-content: end;
        flex-direction: column;
        text-align: left;
        padding: 2% 5%;

        .title {
            font-family: $font-AstonScriptBold;
            font-size: 73px;
            line-height: 2;
            z-index: 10;
        }

        .text {
            font-size: 19.7px;
            max-width: 1180px;
            width: 100%;

            p {
                margin-bottom: 2%;
            }
        }

        .group-img {
            margin: auto;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            padding: 4%;
            display: flex;
            justify-content: space-between;

            img {
                max-width: 261px;
                position: relative;
                z-index: 5;

                &.couple-1 {
                    top: 10%;
                }

                &.couple-2 {
                    top: 30%;
                }

                &.couple-3 {
                    top: -5%;
                }

                &.couple-4 {
                    top: 15%;
                }
            }
        }

    }
}